body{
  background-image: url('https://avatars.mds.yandex.net/get-pdb/1381755/b67ad40a-5c30-4866-85d4-d1334f81c414/s1200?webp=false');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}




#idHead1 {
    color:Red;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);




}
